@use 'colors.module' as *;
@use 'mixins.module' as *;

.wrapper {
	@include flex-center;
	width: 100%;
	background-color: $secondary;
	z-index: 1;
}

.fixed {
	background-color: $secondary;
	position: fixed;
	top: -100;
	left: 0;
	width: 100%;
	z-index: 1;
	transition: top 0.3s ease;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	color: $primary;
	padding: 0 2rem 0 0;
	margin: 0.5rem 1rem 0.5rem 0;
	border: 0;
	border-right: 2px solid $primary;
	background-color: $secondary;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.buttons-wrapper {
	display: flex;
	align-items: center;
	height: 59px;
}

.button {
	font-size: 1.5rem;
	font-weight: 600;
	height: 100%;
	padding: 0.5rem;
	color: $primary;
	background-color: $secondary;
	border: 0;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: $secondary-hovered;
	}
}
