@use 'mixins.module' as *;

.container {
	position: absolute;
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: dimgrey;
	outline: 1px solid #000000;
	width: 500px; // min
	height: 500px; // min
}

.title-bar-container {
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding: 0 0 0 4px;
	width: 100%;
	height: 1.5rem;
	color: #000000;
	background-color: #ffffff;
}

.title-bar-content {
	font-weight: bold;
	flex-grow: 1;
}

.title-bar-button-container {
	display: flex;
	align-items: center;
	height: 100%;
}

.title-bar-button {
	@include flex-center;
	height: 100%;
	align-self: flex-end;
	border: 0;
	padding: 0 16px 0 16px;
	background-color: inherit;
	transition: background-color 0.3s ease;
	cursor: pointer;
	font-weight: bold;
	width: 40px;

	&:last-child {
		&:hover {
			background-color: #ff4949;
		}
	}

	&:hover {
		background-color: #cecece;
	}
}
