@use 'mixins.module' as *;

.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	flex-grow: 1;
	backdrop-filter: blur(3px);
	background-color: #525252;
	color: #f1f8ff;
}

.logo {
	font-size: 300%;
	font-weight: bold;
	padding: 0 0.5rem 0 0.5rem;
	cursor: pointer;
	user-select: none;
}

.app-icon-wrapper {
	display: flex;
	flex-grow: 1;
	height: 100%;
}

.app-icon {
	@include flex-center;
	height: 100%;
	padding: 0 0.5rem 0 0.5rem;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #646464;
	}
}

.time {
	@include flex-center;
	flex-flow: column;
	height: 100%;
	padding: 0 0.5rem 0 0.5rem;

	p {
		margin: 0;
	}
}
