@use 'colors' as *;

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #eaeaea;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	margin: 100px 0 20px 0;
	position: relative;
	bottom: 100%;
	flex-grow: 1;
	width: 100%;
	padding: 0 5px 0 5px;
}

@mixin babysFirstMixin($name, $yomama) {
	top: $name;
	width: $yomama;
}
