@use 'colors.module' as *;

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin section($background-color: $secondary) {
	.wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 100%;
		background-color: $background-color;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
	}
}
